[Desktop Entry]
Type=Application
Name=Dank Software Depot
GenericName=Software Center
Comment=Updates, software install and firmware for DankMaterialShell
Exec=dms ipc call dankSoftwareDepot open
Icon=dank-software-depot
Terminal=false
Categories=System;Settings;PackageManager;
Keywords=updates;software;packages;flatpak;firmware;install;
StartupNotify=false
